<div class="py-3 mud-theme-primary">
    <MudStack Row="true" Justify="Justify.Center">
        <MudText Class="text-sm" Align="Align.Center"> <MudLink Href="/" Color="Color.Inherit" Underline="Underline.Always">Follow MudWind</MudLink> on Youtube and stay up to date with the latest features!</MudText>
    </MudStack>
</div>