<MudContainer MaxWidth="MaxWidth.Large">
    <MudGrid>
        <MudItem lg="4">
            <MudStack Row="true">
                <img class="-z-20 -mt-2" height="48" width="48" src="logo.png"/>
                <MudText Align="Align.Center" Class="font-semibold text-lg">
                    MudWind
                </MudText>
            </MudStack>
        </MudItem>

        <MudItem lg="8">
            <MudStack Spacing="10" Row="true" Class="mt-1">
                <a href="/" class="transition-all font-semibold text-sm hover:text-[#CED1D8]">Changelog</a>
                <a href="/" class="transition-all font-semibold text-sm hover:text-[#CED1D8]">Follow us on Youtube</a>
                <a href="/" class="transition-all font-semibold text-sm hover:text-[#CED1D8]">Join our Discord</a>
                <a href="/" class="transition-all font-semibold text-sm hover:text-[#CED1D8]">Github</a>
                <MudWindButton Class="-mt-4 py-3 rounded-lg" Variant="Variant.Filled" Color="Color.Primary">Explore Free Components</MudWindButton>
                </MudStack>
        </MudItem>
    </MudGrid>
</MudContainer>